.example-spacer {
    flex: 1 1 auto;
  } 

mat-card {
    height: 500px;
} 

mat-card, mat-card-content {
    margin-top: 20px;
    
}

.form-control {
    width: 300px;
}

.fileTypeLabel {
    display: block;
    color: rgb(195, 43, 226);
    font-size: 32px;
    margin-bottom: 10px;
}

.fileInput {
    display: none;
}

.fa-upload {
    
    font-size: 100px;
    color: rgb(123, 8, 230);
}

.fa-upload:hover {
    cursor: pointer;
    font-size: 130px;
    color: blue;
}

span {
    color: red;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 140px;
    height: 60px;
    margin-top: 50px;
}